// gray bg
$color1: #dee1e6;
$color2: #f5f5f5; //body
$color3: #f4f7fd;
$color4: #e2e2e2;
$color5: #4e4e4e;
$color6: #808080;
$color7: #dddcdc;
$color8: #acacac;

$blue1: #4e73df;
$blue2: #022e6b;

$white1: #f8f9fc;

//bgs
$bg1: #72bd87;
$bg2: #8dc99e;

$btn1: #ffa531;
$btn2: #e3bc80;
$btn3: #81d799;

$danger: #f73959;

$black1: #212832;
