@import "./config";
.main {
	padding: 15px 0px;

	.product-container {
		background: #fff;
		padding: 10px;
		margin: 0px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 2px 2px 15px #ccc;
		border: 1px solid #ccc;
		border-radius: 6px;

		img {
			width: 150px;
			height: 120px;
		}
	}
	.product-container > div:last-child {
		padding-left: 5px;
		button {
			background: transparent;
			border-radius: 25px;
			border: 1px solid $blue1;
			padding: 0px 10px;
		}
	}
}
