@import "./config";

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	// box-shadow: 2px 2px 15px #ccc;
	z-index: 2000;

	.search-bar {
		display: flex;
		justify-content: space-around;
		width: 50%;

		input {
			height: 40px;
			border: 1px solid #ccc;
			border-right: none;
			width: 100%;
			padding: 5px 10px;
			outline: none;
			background: $color1;
		}
		select {
			height: 40px;
			width: 150px;
			border: 1px solid #ccc;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			border-right: none;
			padding: 5px;
			outline: none;
			background: $color7;
		}
		button {
			background: $blue2;
			height: 40px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			color: #fff;
		}
	}

	.nav-contents {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 30px;
		width: 100%;
		background: $black1;
		color: $color8;

		.navbar-right-side {
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				border: 1px solid $btn3;
				color: $btn3;
			}
		}
		.navbar-right-side > div {
			padding: 0px 15px;
		}
	}
}
